.header{
margin-left: -12px;
margin-right: -12px;
}
#total-expense{
    outline: none;
}
#manager,#coach{
    border: 2px solid blue;
}
#clc{
    outline: none;
}
footer { 
        margin-left: -12px;
        margin-right: -12px;
        border: 1px solid gray;
        border-left: 0px;
        border-bottom: 0px;
        border-right: 0px;
        bottom : 0;
        height:60px;
        margin-top : 50px;
        text-align: center ;
        font-size: 10px ;
        font-family: 'Lato' ;
}
